body {
  margin: 0 auto;
}

p {
  font-size: 12px;
  font-family: Helvetica Neue, Arial, sans-serif;
  line-height: 1.5em;
  color: #000000;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  dont-size: 18px;
}

header {
  background-color: #999999;
  min-height: 30px;
}

header nav,
section.main-content {
  width: 960px;
}

header nav h2 {
  display: none;
}

header nav {
  min-height: 30px;
}

header nav ul li {
  padding: 2px 3px;
  margin: 0 5px 0 5px;
  list-style: none;
  display: inline;
  background-color: #EFEFEF;
}

header nav ul li a {
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

